#typeform-wrapper {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
}

// .typeform-element {
//   position: fixed;
//   bottom: 0;
//   right: 0;
//   background: red;
//   color: white;
//   padding: 10px;
//   width: 200px;
//   height: 60px;
//   line-height: 40px;
//   z-index: 10000;
// }
