.dashboard-page {
  display: grid;
  grid-template-columns: 0.7fr 3.3fr;
}

// ***************** profile sidebar **************

.profile-sidebar {
  background-color: #FAF2DA;
  position: sticky;
  top: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $primary;
  border-radius: 0 0 50px 0;
  box-shadow: 4px 0px 10px 0px #b4b4b4;
}

.image-profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 15px;
}

.name-title h3 {
  font-size: 2.2em;
}

.name-title p {
  font-size: 1.5em;
  margin-bottom: 0;
}

.just-line {
  height: 2px;
  background-color: $primary;
  width: 80%;
  border-radius: 80%;
  margin: 25px 0 25px 0;
}

.recommended-courses h4 {
  text-transform: uppercase;
  font-weight: bold;
}

.recommended-courses p {
  font-size: 1.5em;
  line-height: 3em;
}

.button-pri-profile {
  width: 80%;
  height: 4.5em;
  margin: 10px 0 5px 0;
}

.button-pri-profile a {
  font-size: 1.5em;
  font-weight: normal;
}

.button-sec-profile {
  width: 80%;
  height: 3em;
  padding-top: 10px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}

.button-sec-profile a {
  text-decoration: none;
  text-transform: none;
  font-size: 85%;
}

// ***************** dashboard content **************

.dashboard-content {
  // padding-left: 30px;
  margin: 0 40px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.dashboard-heading h1 {
  font-family: $headers-font;
  color: $primary;
  font-size: 46px;
}

.button-pri-dashboard {
  min-width: 230px;
  margin-right: 140px;
  padding: 13px 31px;
  margin-top: 15px;
}

#nav-overview {
  // border: 1px solid yellow;
  display: grid;
  grid-template-rows: 0.8fr 0.8fr;
  grid-gap: 50px;
  margin-bottom: 20px;
  color: $primary;
}

#nav-overview h2 {
  text-align: center;
}

.overview-first-line {
  // border: 1px solid pink;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 50px;
}

.overview-first-line h2 {
  font-size: 25px;
}

.progress-chart {
  // border: 2px solid purple;
  padding: 10px 20px 20px 20px;
  border: 2px solid $primary;
  border-radius: 5px;
}


.two-results {
  display: grid;
  grid-template-rows: 1fr 5fr;
  // border: 2px solid red;
}

.two-results-heading {
  padding-top: 10px;
}

.two-result-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px
}


.result-card {
  // border: 1px solid green;
  border: 2px solid $primary;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.result-card h2 {
  font-size: 40px;
 }

.result-card h1 {
  font-size: 50px;
}

.overview-second-line {
  border: 1px solid aqua;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.overview-skills {
  border: 1px solid red;
  width: 80%;
}

.values-chart {
  border: 1px solid orange;
}


// ***************** tabs **************
.nav {
  --bs-nav-link-padding-x: 4rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: #6c757d;
  --bs-nav-link-hover-color: #520049;
  --bs-nav-link-disabled-color: #e0d15a;
}

.nav-tabs {
  --bs-nav-tabs-border-width: 2px;
  --bs-nav-tabs-border-color: #520049;
  --bs-nav-tabs-border-radius: 2px;
  --bs-nav-tabs-link-hover-border-color: #520049 #520049 #52004900;
  --bs-nav-tabs-link-active-color: #520049;
  --bs-nav-tabs-link-active-bg: #b5454500;
  --bs-nav-tabs-link-active-border-color: #520049 #520049 #ece0e8;
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
  margin-bottom: 20px;
}
