.headers-skills {
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.2fr;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.headers-skills > p{
  margin-bottom: 0;
  font-weight: 500;
}

.one-skill-row {
  // border: 2px solid greenyellow;
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.2fr 0.2fr;
  align-items: center;
  padding: 10px;
}

.one-skill-row > p{
  margin-bottom: 0;
  font-weight: 500;
}

.skills-table {
  // border: 3px solid $primary;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 10px 20px 20px 20px;
}

// .one-skill-row > i {
//   // margin-left: 20px;
//   padding-left: 30px;
//   font-size: 16px;
// }

// .selected_value {
//   // padding-left: 20px;
// }

.button-add-skills {
  //border: 2px solid greenyellow;
  margin-top: 2%;
  display: flex;
  justify-content: flex-end;
  }

.save-btn-skills {
 color: inherit;
 border: none;
 background: inherit;
 line-height: 1em;
}

.button-save-center {
 display: flex;
 justify-content: center;
 margin: 5px 0 0 auto;
}

.skills-tab-content {
  // border: 2px solid greenyellow;
  margin: 0 auto;
  width: 70%;
}
