<div class="container mt-5 skills-form">
<h2 class="mt-5">Select your skills:</h2>
  <%= simple_form_for @user_skill do |f| %>
    <%= f.association :skill,
                      as: :check_boxes,
                      input_html: { class: "tag-selector" },
                      item_wrapper_class: 'tag-item' %>
    <div class="button-position">
       <%= f.button :submit, 'Save', class: "button-sec" %>
    </div>
  <% end %>
</div>
