<div class="navbar navbar-expand-sm navbar-dc">
  <div class="container d-flex justify-space-between">
    <div class="d-flex align-items-center">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "digital_compass_logo.png", width:"60px" %>
      <% end %>
      <div class="logo-text">
        <p>DIGITAL</p>
        <p>COMPASS</p>
      </div>
    </div>
    <%= link_to "profile", root_path, class: "btn" %>
  </div>
</div>
