<div class="artboard">
 <div class="card">

  <div class="card__side card__side--back">
   <div class="card__cover">
    <h4 class="card__heading">
    <%# TODO: Enter Variable of Pathway below %>
     <span class="card__heading-span">Fullstack Developer</span>
    </h4>
   </div>
   <div class="card__details">
    <ul>
      <%# TODO: Enter Variables of INFO below %>
     <li>Builds, troubleshoots, and mantains software applications</li>
     <li>Average Salary: Fr. 110,913</li>
     <li>Projected Job Growth: 22%</li>
     <%# <li>Advanced Animations</li> %>
    </ul>
    <%# TODO: Enter path below %>
   <%= link_to "Learn More >", "#", class: "button-sec" %>
   </div>
  </div>

  <div class="card__side card__side--front">
   <div class="card__theme">
    <div class="card__theme-box">
     <p class="card__subject">CAREER PATH</p>
      <%# TODO: Enter Variable of Pathway below %>
     <p class="card__title">Fullstack Developer</p>
    </div>
   </div>
  </div>

 </div>
</div>
