<div class="container">
  <div class="my-3 py-5">
  <div class="steps">
  <h1 class="home-section-2"><strong>How It Works</strong></h1>
  <div class="cards">
    <div class="how-to-card">
      <%= image_tag "Sign Up_imag.svg" %>
      <h3>1. <br />Sign Up</h3>
    </div>
    <div class="how-to-card">
      <%= image_tag "Quiz_imag.svg" %>
      <h3>2.<br />Take Quiz</h3>
    </div>
    <div class="how-to-card">
      <%= image_tag "recommendation_img.svg" %>
      <h3>3. <br />Get Recommendation</h3>
    </div>
  </div>
    </div>
  </div>
