<div class="home-section-2">
  <div class="container">
    <div class="my-3 py-5">
      <div class="steps">
        <h2>How It Works</h2>
        <div class="cards">
          <div class="how-to-card">
            <%= image_tag "Sign Up_imag.svg" %>
            <h2>1.</h2>
            <h3>Sign Up</h3>
          </div>
          <div class="how-to-card">
            <%= image_tag "Quiz_imag.svg" %>
            <h2>2.</h2>
            <h3>Take Quiz</h3>
          </div>
          <div class="how-to-card">
            <%= image_tag "recommendation_img.svg" %>
            <h2>3.</h2>
            <h3>Get Recommendation</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
