<div class="container" data-controller="typeform">
  <h1 class="align-item-center">Welcome to the assessment</h1>
  <div id="form">
    <div data-tf-widget="wuDccAgU"></div>
  </div>
</div>
<script src="//embed.typeform.com/next/embed.js"></script>
