<div id="typeform-wrapper" data-tf-hidden="name=<%= current_user.first_name %>" data-tf-widget="DfXB0zI2" data-tf-on-submit="onSubmit"></div>
<script>
  function onSubmit(event) {
    // console.log(event);
    const response_id = event.response_id;
    window.location.replace(`/recommendations/add?response_id=${response_id}`);
  }
</script>
<script src="//embed.typeform.com/next/embed.js"></script>
