<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3727459/pexels-photo-3727459.jpeg);">
  <div class="container">
    <h1><span data-controller="typed-js"></span></h1>
    <p class="mt-4">We help you find out which is the best career in Technology for you. <br> Change your life, future-proof your career and get started today!!</p>
    <% if user_signed_in? %>
      <button class="button-pri mt-5"><%= link_to "Go to Dashboard", dashboard_path %></button>
    <% else %>
      <button class="button-pri mt-5"><%= link_to "Let's do this!", new_user_registration_path%> </button>
      <%#= link_to "Let's do this!", new_user_registration_path, class: "button-pri"%>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="my-3 py-5">
    <h1> Explore the most in-demand career pathways in Technology</h1>
        <div class="button-learn">
    </div>
  </div>

  <div class="grid">
    <% @pathways.each do |pathway| %>
      <%= render "shared/path_card", pathway: pathway %>
    <% end %>
    <%#= render "shared/path_card" %>
  </div>
</div>
