 <div class="content-overview">
            <div class="overview-first-line">
              <div class="progress-chart">
                <h3>Progress</h3>
                  <%= render "dashboards/progress" %>

                  <div class="mt-5 progress-text">
                    <p> ℹ️ Complete the Quiz, Skills and Values Assessment to advance your progression </p>
                  </div>
              </div>

              <div class="quiz-results-chart">
                <h3 class="mb-3">Your Top 5 Pathway Matches</h3>

              </div>


            </div>

            <div class="overview-second-line" id="test">
              <div class="overview-skills">
                <h3>Your Skills</h3>
                  <% @user_skills.first(5).each do |skill| %>
                    <%= skill.name %>
                  <% end %>
              </div>

              <div class="values-chart">
                <h3 class="mb-3">Your Top 5 Work Values</h3>
                <% @user_values.where("importance >= 4").each do |uv| %>
                  <p class="value-stack"><%= uv.value.name %></p>
                <% end %>
                <%#= bar_chart @user_values, download: "bar-chart", colors: ["#6E184F", "#716F35", "#DB9A8F", "#ECCC6E", "#A66940", "#F2E9E1", "#FCE8D2", "#E9E9E9", "#0E1251"] %>
              </div>
            </div>
          </div>
