 <div class="content-overview">
            <div class="overview-first-line">
              <div class="progress-chart">
                <h3>Progress</h3>
                  <%= render "dashboards/progress" %>

                  <div class="mt-5 progress-text">
                    <p><%#= current_user.recommendations.any? ? "✅ Step 1.- Quiz" : "⏳ Step 1.- Take Quiz"%></p>
                    <p><%#= current_user.skills.any? ? "✅ Step 2.- Skills Assessment" : "⏳ Step 2.- Take Skills Assessment"%></p>
                    <p><%#= current_user.values.any? ? "✅ Step 3.- Values Assessment" : "⏳ Step 3.- Take Values Assessment"%></p>
                  </div>
              </div>

              <div class="two-results">
                <div class="two-results-heading">
                  <h2>Your Top Matches</h2>
                </div>

                <div class="two-result-cards">

                  <div class="result-card">
                    <h3>DATA SCIENTIST</h3>
                    <br>
                    <h1>87%</h1>
                    <div class="button-sec">
                      <%= link_to "More >",  pathway_path(Pathway.find_by(name: 'Data Scientist')) %>
                    </div>
                  </div>
                  <div class="result-card">
                    <h3>BACK-END DEVELOPER</h3>
                    <br>
                    <h1>76%</h1>
                    <div class="button-sec">
                      <%= link_to "More >",  pathway_path(Pathway.find_by(name: 'BackEnd Developer')) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="overview-second-line" id="test">
              <div class="overview-skills">
                <h3>Your Skills</h3>

              </div>
              <div class="values-chart">
                <h3 class="mb-3">Your Top 5 Work Values</h3>
                <% @user_values.where("importance >= 4").each do |uv| %>
                  <p class="value-stack"><%= uv.value.name %></p>
                <% end %>
                <%#= bar_chart @user_values, download: "bar-chart", colors: ["#6E184F", "#716F35", "#DB9A8F", "#ECCC6E", "#A66940", "#F2E9E1", "#FCE8D2", "#E9E9E9", "#0E1251"] %>
              </div>
            </div>
          </div>
