<div class="col-md-3 col-sm-6">
  <div class="progress blue">
      <span class="progress-left">
          <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar"></span>
      </span>
      <div class="progress-value">90%</div>
  </div>
</div>
