<div class="col-md-3 col-sm-6">
  <div class="progress blue">
      <span class="progress-left">
          <span class="progress-bar <%= @progress_class %>"></span>
      </span>
      <span class="progress-right">
          <span class="progress-bar <%= "empty" if @progress.sum == 0 %><%= "one-q" if @progress.sum == 25 %>  "></span>
      </span>
      <div class="progress-value"> <%= @progress.sum %>%</div>
  </div>
</div>
