<div class="skills-table" data-controller="skills-slider">
  <div class="headers-skills">
    <p>Skill</p>
    <p>Your level</p>
    <p>Learning interest</p>
  </div>
  <% @user_skills.each do |skill| %>
    <div class="one-skill-row">
      <p><%= skill.name %></p>
      <div class="col-3 slider-simple">
        <input type="range" class="form-range" value="0" min="0" max="3" step="1" data-id="<%= skill.id %>" data-action="change->skills-slider#sliderValue">
      </div>
      <span id="value-<%= skill.id %>" class="selected_value">0</span>
      <i class="fa-solid fa-book-open"></i>
    </div>
  <% end %>
</div>

<div class="button-pri">
  <%= link_to "Add more...", new_user_skill_path %>
</div>
