.book-checkbox {
  position: absolute;
  transform: scale(0);
}

.book-checkbox + label {
  cursor: pointer;
  color: #7d868e;
  font-size: 16px;
  padding-left: 30px;
}

.book-checkbox:checked + label {
  color: $primary;
}

.book-checkbox.active + label {
  color: $primary;
}

.book-checkbox.active:not(:checked) + label {
  color: #7d868e;
}
