.book-checkbox {
  position: absolute;
  transform: scale(0);
}

.book-checkbox + label {
  cursor: pointer;
  color: #7d868e;
  font-size: 16px;
  padding-left: 30px;
  // display: inline-block;
  // font-size: 0.7rem;
  // border-radius: 50rem;
  // padding: 0.1rem 0.5rem;
  // background-color: #ECEAFF;
  // color: #7E73FF;
  // border: 1px solid #7E73FF;
  // margin-right: 0.6rem;
  // margin-bottom: 0.4rem;
}

.book-checkbox:checked + label {
  color: $primary;
}
