 //------------- Real Links (like for recommended courses)

 .real-link {
  font-size: 16px;
  text-decoration: underline;
  color: #520049;
    &:hover {
      text-decoration: none;
    }
 }




 //------------- Links inside the buttons

 a {
  text-decoration: none;
  text-align: center;
 }


//------------- Primary Button

.button-pri {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #E7C258;
  font-family: $body-font;
  // box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
  width: fit-content;
 }

 .button-pri:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #520049;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
 }

 .button-pri:hover::after {
  right: auto;
  left: 0;
  width: 100%;
 }

 .button-pri a {
  text-align: center;
  text-decoration: none;
  // width: 100%;
  padding: 11px 18px;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
 }

 .button-pri:hover a {
  color: white;
  animation: scaleUp 0.3s ease-in-out;
 }

 @keyframes scaleUp {
  0% {
   transform: scale(1);
  }

  50% {
   transform: scale(0.95);
  }

  100% {
   transform: scale(1);
  }
 }


 //------------- Secondary OR Ghost Button - no animation

  .button-sec {
    color: $primary;
    font-family: $body-font;
    width: 6em;
    height: 2.75em;
    line-height: 1em;
    overflow: hidden;
    border: 2px solid $primary;
    font-size: 17px;
    border-radius: 5px;
    padding: 13px 13px;
    background-color: white;
   }

   .button-sec:hover {
    background-color: $primary;
    color: white;
      a {
        color: white;
      }
   }
