 //------------- Real Links (like for recommended courses)

 .real-link {
  font-size: 16px;
  text-decoration: underline;
  color: #520049;
    &:hover {
      text-decoration: none;
    }
 }




 //------------- Links inside the buttons

 a {
  text-decoration: none;
  text-align: center;
 }


//------------- Primary Button

.button-pri {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #E7C258;
  font-family: $body-font;
  // box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
 }

 .button-pri:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #520049;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
 }

 .button-pri:hover::after {
  right: auto;
  left: 0;
  width: 100%;
 }

 .button-pri a {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 11px 18px;
  color: #fff;
  font-size: 1.9em;
  font-weight: 600;
  letter-spacing: 0.14em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
 }

 .button-pri:hover a {
  color: white;
  animation: scaleUp 0.3s ease-in-out;
 }

 @keyframes scaleUp {
  0% {
   transform: scale(1);
  }

  50% {
   transform: scale(0.95);
  }

  100% {
   transform: scale(1);
  }
 }


 //------------- Secondary OR Ghost Button

 .button-sec {
  --color: #520049;
  font-family: $body-font;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 3px;
  font-weight: 500;
  color: var(--color);
 }

 .button-sec:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }

 .button-sec:hover {
  color: #fff;
 }

 .button-sec:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }

 .button-sec:hover:before {
  top: -30px;
  left: -30px;
 }

 .button-sec:active:before {
  background: #3a0ca3;
  transition: background 0s;
 }

  //------------- Ghost Button NO animation

  .button-sec-simple {
    color: $primary;
    font-family: $body-font;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    border: 2px solid $primary;
    font-size: 17px;
    border-radius: 5px;
   }

   .button-sec-simple:hover {
    background-color: $primary;
      a {
        color: $alm-white;
      }
   }
