.logo-text {
  color: $alm-white;
}

p {
  font-size: 16px;
  font-weight: 300;
}

h1 {
  font-size: 76px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}
