.footer {
  background: white;
  box-shadow: 0 -2px 4px 0 rgba(82,0,72,.2);
  flex-grow: 1;
  padding: 50px 25px 30px 25px;
  margin-top: 100px;
}

.about-app {
  width: 300px;

  p {
    font-size: 10px;
  }
}

.social-links {
  width: 60px;
}

.quick-links {
  width: 300px;
  text-align: end;

  a {
    text-decoration: none;

    &:hover {
      color: $secondary;
    }
  }
}
