footer{
  justify-content: space-between;
  background: white;
  flex-grow: 1;
  margin-top: 50px;
}

.footer-links {
  padding-top: 16px;
  padding-bottom: 16px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;

  a {
    text-decoration: none;
  }
}
