// ********************** Sign Up form *********************

.background-yellow {
  background-color: $secondary;
}

.sign-up-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.sign-up-text {
  color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 86px;
  font-family: $headers-font;
  //border: 1px solid red;
}

.sign-up-h1 {
  font-size: 45px;
  letter-spacing: 1px;
  padding-right: 70px;
}

.sign-up-text p {
  font-size: 20px;
  padding-right: 70px;
  margin-top: 10px;
}

.sign-up-form {
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid green;
}

.form-signup {
  border-radius: 5px;
  width: 350px;
  padding: 35px;
  background-color: $alm-white;
}

.form-signup .form-label {
  color: $primary;
}

.sign-up-btn {
  color: $alm-white;
  text-align: center;
  background-color: $primary;
  border-radius: 5px;
  width: 100%;
}

.sign-up-btn:hover {
  color: $primary;
  background-color: $alm-white;
  border: 1px solid $primary;
}

.already-signed {
  text-align: center;
  margin-top: 5px;
}
