// ********************** Sign Up form *********************

.background-yellow {
  background-color: $secondary;
  height: 79vh;
}

.sign-up-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 79vh;
}

.sign-up-text {
  color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 86px;
  font-family: $headers-font;
  //border: 1px solid red;
}

.sign-up-h1 {
  font-size: 45px;
  letter-spacing: 1px;
  padding-right: 70px;
}

.sign-up-text p {
  font-size: 20px;
  padding-right: 70px;
  margin-top: 10px;
}

.sign-up-form {
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid green;
}

.form-signup {
  border-radius: 5px;
  width: 350px;
  padding: 45px 35px 35px 35px;
  background-color: $alm-white;
  font-size: 15px;
  height: 400px;
}

.form-control {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.form-signup .form-label {
  color: $primary;
}

.sign-up-btn {
  color: $alm-white;
  text-align: center;
  background-color: $primary;
  border-radius: 5px;
  width: 100%;
  font-size: 15px;
  margin-bottom: 20px;
}

.sign-up-btn:hover {
  color: $primary;
  background-color: $alm-white;
  border: 1px solid $primary;
}

.already-signed {
  text-align: center;
  margin-top: 5px;
}

.form-actions-style {
  text-decoration: underline;
  margin-top: 5px;
}

.form-actions-style:hover {
  text-decoration: none;
}

// ********************** Log in/Sign in form *********************

.login-flex {
  display: flex;
  justify-content: center;
 }

.login-form-and-heading {
  margin-top: 70px;
  height: 50vh;
}

.login-form-and-heading h2 {
  color: $primary;
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
}

.log-in-btn {
 margin-bottom: 20px;
 margin-top: 20px;
}
