.navbar-dc {
  justify-content: space-between;
  background-color: $primary;
}

.navbar-dc .navbar-collapse {
  flex-grow: 0;
}

.navbar-dc .navbar-brand img {
  width: 50px;
}
.nav-link {
  $body-color: $gray;
  text-decoration: none;
  $body-color: $gray;
  margin-right: 10px;
}


.nav-item img {
  &:hover {
    outline: 1px solid green;
    outline-offset: -8px;
  }
}
.btn-ghost {
  border-radius: 0px 10px 10px 0px;
}

.logo-text {
  display: flex;
  flex-direction: column;

  p {
    margin: 0px;
  }
}
.btn-nav {
position: relative;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
background: #E7C258;
overflow: hidden;
text-decoration: none;
color: white;
padding: 5px 12px;
font-family: $body-font;
font-size: 14px;
}
