.navbar-dc {
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(82,0,72,.2);
}

.navbar-dc .navbar-collapse {
  flex-grow: 0;
}

.navbar-dc .navbar-brand img {
  height: 50px;
}

.nav-link {
  $body-color: $gray;
  text-decoration: none;
  $body-color: $gray;
  margin-right: 10px;
}

.btn-ghost {
  border-radius: 0px 10px 10px 0px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  p {
    color: $primary;
    margin: 0px;
  }
}

.nav-links > a {
  font-size: 16px;

  &:hover {
    color: $secondary !important;
  }
}

.nav-links .button-sec {
  margin: 0px;
}
