// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import '@typeform/embed/build/css/widget.css';

// Your CSS partials
@import "components/index";
@import "pages/index";

html, body {
  height: 100%;
  margin: 0;
  //font-size: 16px;
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -85px;
}

.push {
  height: 85px;
}
